In [3]:
import pandas as pd
data=pd.read_csv('rpm.csv')
data

    RPM   Temp
0    78  32.22
1    90  35.60
2    92  36.28
3   104  39.89
4   102  39.23
5    89  34.97
6    72  34.29
7   111  42.45
8    95  37.33
9   106  40.23
10   96  37.78
11  107  41.22
12   76  32.02
13  111  43.56
14   97  38.23
15   77  33.00
16  104  39.12
17  110  41.22
18   98  38.29
19   78  33.10
20  109  41.08
21  109  41.11
22   82  33.40

In [6]:
data.shape

(23, 2)

In [34]:
X=[['RPM']]